*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading:rgb(0 10 45);
    --black:#212529;
    --para:#777;
    --para-tint:#e4e4e4;
    --white:#fff;
    --helper:#8490ff;
    --helper-tint:#f3f4ff;
    --bg:rgb(249 249 255);
    --gradient:linear-gradient(0deg,rbd(132 144 255)0%,rgb(98 189 252)100%);
    --gradientSupport:-webkit-linear-gradient(0deg,rgb(132 144 255 )0%,rgb(98 189 252)100%);
    --shadow:0px 0px 20px 0px rgb(132 144 255/20%);
    --shadowSupport: 0 2rem 2rem 0 rgb(132, 144, 255/30%);
}
html{
    font-size: 62.5%;
}
h1,h2,h3,h4{
    font-family: poppins,sans-serif;
}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight:400;
}
p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
.header{
    padding: 0 4.8rem;
    height: 10rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header,.logo{
    height: 10rem;

}
.navbar-lists{
    display: flex;
    gap: 4.8rem;
}
.navbar-link:hover{
    text-shadow: 0 0 25px black;
}
.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: uppercase;
    color: var(--black);
    font-family: poppins,sans-serif;
    transition:color 0.3s linear;
}
.navbar-link:hover,
.navbar-link:active{
    color: var(--helper);

}
.section{
    padding: 9rem 0;
}
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 9rem;
}
.grid-two-column{
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: 1fr 1fr; */
}
.grid-three-column{
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr; */
}
.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr; */
}
.section-hero{
    background-color: var(--bg);
}
.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    /* align-items: flex-start; */
}
.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);

}
.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}
.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}
.section-hero-image{
     
    display: flex;
    justify-content: center;
    align-items: center;
}
.horo-img{
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 150px black;
 width: 300px;   
}
.btn{
    margin-top: 8px;
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transform: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn:hover{
    border-radius: 20px;
    box-shadow: 0 0 25px black;
}
.bio-image{
    margin-left: -967px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-image img{

    box-shadow: 0 0 150px black;
}
.common-heading{
    font-size: 4.8rem;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}

.common-heading::after{
    margin-top: -5px;
    content: "";
    position: absolute;
    top: 115%;
    left: 0px;
    min-width: 28rem;
    height: 0.3rem;
    background: var(--helper);
}
.bio-data-btn{
    

    margin-top: -30px;
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transform: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.bio-image{
        
        display: flex;
        justify-content: center;
        align-items: center;
}
.bio-image img{
    border-radius: 20px;
    height: 400px;
    margin-left: 800px;
    align-items: center;
    width: 20%;
}
 .bio-data-stats{
    width: 100%;
    display: flex;
    padding: 6.4rem 0;
    flex-direction: column;
    gap: 3rem;
}
.bio-progress-bar{
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
}
.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress::before{
    width: 80%;
}
.bio-progress2{
    width: 95%;
}
.bio-progress3{
    width: 70%;
}
.bio-progress5{
    width: 75%;
}
.bio-progress-bar span{
    border-radius: 6px;
    position: relative;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;

}

.bio-progress-bar span{
    left: 80%;
}
.bio-progress1 span{
    left: 80%;
}
.bio-progress2 span{
    left: 95%;
}
.bio-progress3 span{
    left: 70%;
}
.bio-progress4 span{
    left: 60%;
}
.bio-progress5 span{
    left: 85%;
}
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    top: -1.6rem;
} 
.bio-data-btn:hover{
        border-radius: 20px;
        box-shadow: 0 0 25px black;
}
.section-portfolio{
    background: var(--bg);
    transition: all 0.7s linear;
}
.section-porfolio p{
    max-width: 60rem;
}
.btns:hover{
    border-radius: 20px;
    box-shadow: 0 0 25px black;
}
.p-btns{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-top: 6.4rem;
    margin: 6.4rem 0;
}
.portfolio-images{
    gap: 3.2rem;
}
.portfolio-images img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.img-overlay{
    position: relative;
    max-height: 400px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}
.img-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(110%);
    transition: all 0.3s linear;
    border-radius: 7px;
}
.img-overlay:hover>.overlay{
     transform: translateY(0);
     opacity: 0.6;
     cursor: pointer;
}
.img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none;
}
/* .p-btns:hover{
    transform: translateY(-1rem);
} */
.p-btn-active{
    transform: translateY(-1rem);

}
.p-image-not-active{
    display: none;
}

.section-work-data{
    font-style: italic;
    font-size: 15px;
    font-weight: 800;
    background: var(--helper);
    text-align: center;
    transform-origin: all 0.7s linear;
    color: var(--white);
}
.counter-number{
    font-size: 4.8rem;
}
.section-work-data p{
    color: var(--white);
    text-transform: capitalize;
}

.section-services{
    transition: all 0.7s linear;
}
.section-services p{
    max-width: 60rem;
}
.section-services .grid{
    margin-top: 10rem;
    row-gap: 10rem;
}
.ssrvice-box{
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 6.4em 3.4rem ;
    transition:  all 0.2s linear;
}
.ssrvice-box:hover,
.service-box:active{
    transform: translateY(-3rem);
}
.service-icon::after{
    content: "";
    position: absolute;
    top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 90%;
     height: 90%;
     background: transparent;
     border: 1px solid var(--black);
     border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
     animation: water-wave 3s linear infinite;
}
.service-icon{
    width: 8rem;
    height: 8rem;
    background-color: rgba(144, 172, 209, 0.5);
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
}
@keyframes water-wave{
    0%{
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }50%{
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }100%{
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}
.service-box h3{
    text-transform: capitalize;
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.service-box:hover{
    transform: translateY(-1rem);
    transition: all 0.3s linear;
}
.section-freelancing{
    background-image: url(./images/hd-wallpaper-gf498c7162_1920.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7 linear;
    text-align: center;
}
.section-freelancing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.7;
}
.section-freelancing .container{
    position: relative;
}
.section-freelancing h2{
    font-size: 5.4rem;
}
.section-freelancing span{
    color: #a0f669;
}
.section-freelancing h2, .section-freelancing p{
    color: var(--white);
    margin-bottom: 1.8rem;
}
.section-contact-main{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
}
.section-contact-main form{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.section-contact-main input, .section-contact-main textarea{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9cc;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: sans-serif;
}
.section-contact-main input[type="submit"]{
    
    max-width: 30%;
    border: none;
}
.section-contact-main .grid{
    gap: 0.1rem;
}
.section-contact-main{
    width: 100%;
}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.swiper-clients-msg{
    padding: 5rem 8rem;
    background: var(--white);
    border-radius: 1rem;
    text-align: left;
    box-shadow: var(--shadow);
    position: relative;
}
.swiper-clients-msg::after{
    content: "\f10e";
    position: absolute;
    bottom: 0;
    right: 4rem; 
    font-size: 5rem;
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: #ced3ff;
}
.swiper-clients-msg::before{
    content: "\f10d";
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    border: 5rem solid var(--white);
    border-color: transparent;
    border-top-color: var(--helper-tint);
}
.swiper-clients-msg p::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    font-size:5rem ;
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: #ced3ff;
    
}
.swiper-client-data{
    align-items: center;
    margin-top: 3.2rem;
    gap: 3.2rem;

}
.swiper-slide img{
    max-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.5rem solid var(--helper-tint );
}